@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    color: white;
    background: #011F3F;
    font-family: 'Press Start 2P', cursive;
}
.game-over{
    background: red;
}
.heading{
    font-size: 3rem;
    color: #FEF2BF;
}
.container{
    height: 100vh;
    width: 100%;
    padding: 10%;
    text-align: center; 
}
.buttons{
    margin-top: 20px;
    margin-bottom: 50px;
}
button{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 10px solid black;
    border-radius: 20%;
    cursor: pointer;
}
.green{
    background: green;
}
.red{
    background: red;
}
.yellow{
    background: yellow;
}
.blue{
    background: blue;
}
.pressed{
    box-shadow: 0 0 20px #fff;
    background: grey ;
}

@media (max-width: 624px){
    
    .heading{
        font-size: 2rem;
    }
    .container{
        height: 100vh;
        width: 100%;
        padding: 0;
        margin-top: 100px;
    }
    button{
        width: 150px;
        height: 150px;
        margin: 10px;
    }
    .footer{
        font-size: 0.8rem;
    }
}